<%- include("headDsn.ejs") %>


  <h1 class="text-2xl text-hijau font-bold md:text-4xl md:leading-tight pt-5 pb-12"><%= title %></h1>

 <!-- Table -->
<div class="overflow-x-auto">
    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
        <table class="min-w-full leading-normal">
            <thead>
                <tr>
                    <th scope="col" class="px-6 py-3 bg-gray-100 border-b border-gray-200 text-gray-800 text-left text-sm font-normal">
                        NO
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-100 border-b border-gray-200 text-gray-800 text-left text-sm font-normal">
                        Nama
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-100 border-b border-gray-200 text-gray-800 text-left text-sm font-normal">
                        NIM
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-100 border-b border-gray-200 text-gray-800 text-left text-sm font-normal">
                        Tanggal Daftar
                    </th>
                </tr>
            </thead>
            <tbody>
                <% mahasiswas.forEach((mahasiswa, index) => { %>
                    <tr>
                        <td class="px-6 py-4 border-b border-gray-200 text-gray-900 text-center">
                            <%= index + 1 %>
                        </td>
                        <td class="px-6 py-4 border-b border-gray-200 text-gray-900 text-center">
                            <%= mahasiswa.nama %>
                        </td>
                        <td class="px-6 py-4 border-b border-gray-200 text-gray-900 text-center">
                            <%= mahasiswa.nim %>
                        </td>
                        <td class="px-6 py-4 border-b border-gray-200 text-gray-900 text-center">
                            <%= mahasiswa.createdAt.toLocaleDateString() %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<!-- End Table -->
</div>
</div>
<script src="/preline.js"></script>
</body>
</html>
