<%-include("headAdm.ejs")%>
<h1 class="text-2xl text-hijau font-bold md:text-4xl md:leading-tight pt-5 pb-12"><%= title %></h1>
<!-- Table -->
<div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="border rounded-lg overflow-hidden">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">ID</th>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Name</th>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Tanggal Daftar</th>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">NIM</th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase">Aksi</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <% mahasiswas.forEach(mahasiswa => { %>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= mahasiswa.id %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= mahasiswa.nama %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= mahasiswa.createdAt.toLocaleDateString() %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= mahasiswa.nim %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                                    <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-red-600 hover:text-red-800 disabled:opacity-50 disabled:pointer-events-none">Delete</button>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End Table -->
</div>
<!-- End Content -->
<!-- ========== END MAIN CONTENT ========== -->

<!-- <script src="https://cdn.jsdelivr.net/npm/preline/dist/preline.js"></script> -->
<script src="/preline.js"></script>
</body>
</html>
